@model SportsItemsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h2>Your cart</h2>


<table class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
        <tr>
             <th align="left" class="columnHeader">Quantity</th>
            <th align="left" class="columnHeader">Item</th>
            <th align="left" class="columnHeader">Size</th>
            <th align="left" class="columnHeader">Color</th>
            <th align="left" class="columnHeader">Manufacterer</th>
            <th align="left" class="columnHeader">Price</th>
            <th align="left" class="columnHeader">Sub-Total</th>
             <th align="left" class="columnHeader"></th>
        </tr>
    </thead>

    <tbody>
           
      @foreach(var line in Model.Cart.Lines) {
        
           <tr>
                <td align="center">@line.Quantity</td>
                <td align="left" >@line.Product.Name</td>
                <td align="left" >@line.Size</td>
                <td align="left" >@line.Color</td>
                <td align="left" >@line.Manufacterer</td>
                <td align="right">@line.Product.Price.ToString("c")</td>
                <td align="right"  >@((line.Quantity* line.Product.Price).ToString("c"))</td>    
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                          @Html.Hidden("sizeId", line.SizeId)
                          @Html.Hidden("colorId", line.ColorId)
                          @Html.Hidden("mnfcId", line.ManufactererId)
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-link" type="submit" value="- Remove" />
                    }
                </td>  
             </tr>
         
        }
        @if (Model.Cart.Lines.Count() == 0)
        {
            <tr><td colspan="8" align="center"><i>No Item is selected </i> </td></tr>
        }
    </tbody>
   
         <tfoot>
           <tr>
               @if(Model.Cart.Lines.Count() >0)
               {
                    <td colspan="6" align="right">Total:</td>
                    <td align="right" class="cartTotal" style="border-right:none"> @Model.Cart.ComputeTotalValue().ToString("c") </td>   
               }
                    
          </tr>
        </tfoot>
   
   
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl" class="btn btn-info">Continue shopping</a>
      @if (Model.Cart.Lines.Count()>0)
      {
          @Html.ActionLink("Checkout now", "Checkout", new { }, new { id = "chkNow", @class = "btn btn-info" })
      }
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#chkLnk").hide();
        $("DIV.searchFilters").hide();

        $("#chkNow").click(function () {
            var val = parseFloat( $(".cartTotal").text().substr(1));
            if (val == 0) {
                alert('Please add some item(s) in the cart to Checkout');
                return false;
            }
            
        });
    });
</script>