@*@model SportsItemsStore.WebUI.Models.MyOrderViewModel*@
@model IEnumerable<SportsItemsStore.Domain.Entities.Order>
@using SportsItemsStore.Domain.Entities


@{
    ViewBag.Title = "MyOrder";
}

@{
    string username = null;
    if (Session["User"] != null)
    {
        User user = (User)Session["User"];
        username = user.Username;
    }
}

<h2>MyOrder</h2>

<br />
Previous Order(s) for User : @username
<hr />
<br />

<b>Details of your order :</b>
<br />
<br />
<table width="80%" align="left">
    <thead>
        <tr>
             <th align="left" class="columnHeader">Order Id</th>
            <th align="left" class="columnHeader">Total Items</th>
            <th align="left" class="columnHeader">Order Total</th>
            <th align="left" class="columnHeader">Ordered Date</th>
            <th align="left" class="columnHeader">Shipment Date</th>
            <th align="left" class="columnHeader">Delivery Date</th>
            @*<th align="left" class="columnHeader">Color</th>
            <th align="left" class="columnHeader">Manufacterer</th>
            <th align="left" class="columnHeader">Price</th>
            <th align="left" class="columnHeader">Subtotal</th>*@
            
        </tr>
    </thead>

    <tbody>
        @*@foreach(var line in Model.orderLines) { *@

        @{
            var applyStyle = "";
          }
        @foreach (var line in Model)
        {
            var totalItems = line.OrderDetails.Sum(x=>x.Quantity);
          
           
                 <tr><td colspan="9"><br /></td></tr>
                @*<tr><td colspan="9" align="left"><b>Order#  @line.OrderId</b></td></tr>*@
                <tr class="@applyStyle">
                        <td align="left" ><b> <a class="tooltips" href="#" id ="@line.OrderId">Order#</a>  @line.OrderId</b></td>
                        <td align="left">@totalItems</td>
                        <td align="left">@line.OrderTotal</td>
                        <td align="left">@line.OrderDate.ToShortDateString()</td>
                        <td align="left">@line.ShipmentDate.ToString()</td>
                        <td align="Center">@line.DeliveryDate.ToString()</td>
                    
                </tr>
                <tr id="orderDetails_@line.OrderId" style="display: none">
                   @* <td>
                         <div id ="Container_@line.OrderId ">
                          
                        </div>
                    </td>*@
                          
                </tr>
            applyStyle = "rowDivider";
              
        }
    </tbody>

   
</table>

<script type="text/javascript">
    $(document).ready(function () {
        // $("#cart").hide();
        //$("#chkLnk").hide();
        $("DIV.searchFilters").hide();
       
       
        $(".tooltips").click(function () {
            var $OrderId = $(this).attr('id');
            var $detail = false;
            if ($('#orderDetails_' + $OrderId).css('display') == "none") {
                alert("Hi");
               $detail = true;
           }
           if ($detail) {
               $("#orderDetails_" + $OrderId).toggle("slow");
                $.ajax({
                   type: "POST",
                   url: '/Cart/MyOrderDetails?orderId=' + $OrderId,
                   dataType: 'html',
                   success: function (data) {
                       $('#orderDetails_' + $OrderId).html('<td colspan="6"><div>' + data + '</div></td>');
                   }
               });
           }
           else {
               $("#orderDetails_" + $OrderId).toggle("slow");
               $('#orderDetails_' + $OrderId).html('');
           }
            
        });
    });
</script>

<style>
    .rowDivider{
    border-top: 1px dotted gray;
    font-weight: bold;
}
   a:link {
       color: #333333;
       font-style:italic;
}
    a:hover {
    color: #C5C5C5;
}
   a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 29px;
  line-height: 29px;
  text-align: center;
  visibility: hidden;
  border-radius: 8px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

</style>

