@model SportsItemsStore.WebUI.Models.UserRegistrationModel

@{
    ViewBag.Title = "Register";
}
@Html.ValidationSummary()

<div class="view">
 <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-lock" ></span> Register</h3>
        </header>
        <p>
           <h4>Account Information</h4>
        </p>
        <hr />
@using (Html.BeginForm("registerForm"))
{   
     <div class="login">
       
             <div class="form-group">
                <div class="col-md-2">
                    Username
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
             </div>

             <div class="form-group">
                <div class="col-md-2">
                     Password
                </div>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @minlength = "6" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
             </div>
           
             <div class="form-group">
                <div class="col-md-2">
                    Confirm Password
                </div>
                <div class="col-md-10">
                     @Html.TextBoxFor(m => m.ComfirmPassword, new { @class = "form-control", @minlength = "6" })
                     @Html.ValidationMessageFor(m => m.ComfirmPassword)
                </div>
             </div>

             <div class="form-group">
                <div class="col-md-2">
                     Email
                </div>
                <div class="col-md-10">
                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.Email)
                </div>
             </div>

               <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
   
        
    </div>
    
    
}
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("DIV.searchFilters").hide();
    });
</script>

